.svg-container {
    margin-right: 5px;
    display: inline-block;
    /* border: 5px solid grey; */
    padding: 10px;
    width: 450px;
}

h3.title {
    color: grey;
    font-weight: 500;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 130px;
    padding: 10px;
    font-size: 0.9em;
    background: #777777;
    border: 2px solid #222222;
    border-radius: 5px;
    pointer-events: none;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
}